
body {
    background-color: #998aff;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }
  nav {
    background-color: black;
    padding: .5em;
    top: 0;
    position: sticky;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    padding: .5em 1em;
  }

  h1 {
    color: #000000;
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid #797979;
  }

  h2 {
    color: #000000;
    font-size: 30pt;
    font-style: italic;
  }

  h3 {
    color: #000000;
    font-size: 20pt;
  }

  h4 {
    color: #000000;
    font-size: 15pt;
  }

  h5 {
    color: #000000;
    font-size: 10pt;
  }

  h6 {
    color: #000000;
    font-size: 8pt;
  }


  a:link,
  a:visited {
    color: c;
  }

  a:hover {
    text-decoration: none;
    color: #F4BDF4;
  }

  .goals {
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 1.5em;
    padding: 25px;
  }

  button {
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    padding: 15px 32px;
  }

  button:hover {
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: #F4BDF4;
    padding: 15px 32px;
  }

  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .column {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 100px;
    gap: 30px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .full-img {
    position: relative;
    width: 647px;
    height: 484px;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 647px;
    height: 484px;
    background-color: rgba(0,0,0,0);
  }
  
  button {
    border: 0;
    background: rgba(150,150,150,0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
  }
  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
  }

 
  @media screen and (max-width: 800px) {
    .column {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      grid-auto-rows: 800px;
      gap: 30px;
    }
  }
  



  @media screen and (min-width: 1080px) and (max-width: 1900px) {
    .photos {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 50px;
  }

  @media screen and (min-width: 70em) {
    .photos {
      grid-template-columns: 3fr 1fr;
      column-gap: 20px;
    }
    nav ul {
      flex: 1
    }
    .goals {
      background-color: #EFF7F0;
      border: 2px solid black;
      border-radius: 1.5em;
      padding: 25px;
  }




